.vis {
	height: 2350px;
}
.vis2 {
	height: 400px
}
.vis3 {
	height: 500px
}
.vis4 {
	height: 420px
}
.vis5 {
	height: 45px
}
.shir {
	width: 420px
}
.img {
	background-size: 70% 70%;
}